/* CODE.HTML SPECIFIC */
.function_display {
    justify-self: center;
    align-self: center;
    background-color: rgb(16, 12, 24);
    margin-right: 0.5vw;
    padding: 1vh 2vw;
    border: 2px solid rgb(11, 8, 17);
    border-radius: 3px;
    color:rgb(26, 189, 26);
}
.function_display h1 {
    color: rgb(255, 255, 255);
}
.function_description {
    justify-self: center;
    align-self: center;
    background-color: rgb(16, 12, 24);
    margin-left: 0.5vw;
    padding: 1vh 2vw;
    border: 2px solid rgb(11, 8, 17);
    border-radius: 3px;
}