#top_spacer {
    height: 12vh;
}
#content_window {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
#content_selector {
    width: 25%;
    padding: 2em;
    color: white;
}
#content {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    color: white;
}
hr {
    color: rgb(26, 189, 26);
}
/* WSU CS 1180 */
#intro {

}

/* Program Displays's, program One */
.line {
    display : flex;
    flex-direction: row;
    gap: 6em;
}

