/*CDUDE.HTML SPECIFIC */

.cdude_select_menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 12px auto;
    padding: 2px 0px;
    background-color: rgb(15, 12, 23);
    color: rgb(26, 189, 26);
    border-radius: 3px;
}

.comic_version_tab_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 5px;
    padding: 10px;
    border: 2px solid rgb(26, 189, 26);
    text-align: center;
}

.comic_version_tab:hover {
    background-color: rgba(38, 1, 79, 0.371);
}

.comic_link {
    color:rgb(26, 189, 26);
    text-decoration: none;
    text-align: center;
}
.comic_link:visited {
    color:rgb(26, 189, 26);
}
.comic_link:hover {
    border-bottom: 2px dashed rgb(104, 5, 251);
    border-radius: 1px;
    color:rgb(18, 182, 18);
}
#top_spacer {
    height: 17vh;
}