/* MATH.HTML SPECIFIC */
#top_spacer {
    height: 7vh;
}
#math_intro {
    margin: 2em;
    color: rgb(255, 255, 255);
}
#display_one {
    display: flex;
    flex-direction: row;
    width: 66vw;
    height: 750px;
}
#graph_display {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1em;
    width: 50%;
    height: 100%;
    padding: 0 10px 0 0;
}
#calculator_one {
    position: relative;
    z-index: 1;
    width: 80%;
    height: 40%;
}
#calculator_two {
    position: relative;
    z-index: 1;
    width: 80%;
    height: 40%;
}
#calculator_one_description {
    width: 50%;
    height: 100%;
    color: rgb(255, 255, 255);
}
.rainbow {
    background: linear-gradient(
      90deg,
      red,
      orange,
      yellow,
      lime,
      cyan,
      blue,
      violet,
      red
    );
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    animation: rainbowScroll 3s linear infinite;

    transition: transform 0.2s ease;
}
  @keyframes rainbowScroll {
    0%   { background-position: 0% center; }
    100% { background-position: -200% center; }
  }
h2 {
    color: rgb(26, 189, 26);
}