/* Menubar */
#menu_bar {
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0vh;
    justify-content: center;
    flex-direction: row;
    width: 96vw;
    height: calc(4vw + 67);
    margin: 12px auto;
    padding: 2px 0px;
    background-color: rgb(15, 12, 23);
    color: rgb(26, 189, 26);
    border-radius: 3px;
}
.hidden {
    display: none !important;
}
.tab {
    box-sizing: border-box;
    display: flex;
    width: 24%;
    height: 85%;
    justify-content: center;
    align-items: center;
    margin: 7px 0px;
    border: 2px solid rgb(26, 189, 26);
    text-align: center;
}
        /* accounting for doubled up middle tab separators */
#news {
    border-left: 4px solid rgb(26, 189, 26);
}
#comical_dude {
    border-right: 4px solid rgb(26, 189, 26);
}
        /* back to formatting */
.tab_content {
    justify-self: center;
    text-align: center;
    width: 60%;
    font-size: 3vw;
}
.tab:hover {
    background-color: rgba(38, 1, 79, 0.371);
}
.tab_link {
    color:rgb(26, 189, 26);
    text-decoration: none;
    text-align: center;
}
.tab_link:visited {
    color:rgb(26, 189, 26);
}
.tab_link:hover {
    text-decoration: none;
    border-bottom: 3px solid rgb(18, 182, 18);
    border-radius: 2px;
    color:rgb(18, 182, 18);
}


