/* SOURCE DEPENDENCIES */
    /* regular font */
@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.woff') format('woff');
    src: url('fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
}
    /* medium font */
@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Medium.woff') format('woff');
    src: url('fonts/FiraCode-Medium.woff') format('woff2');
    font-weight: 500;
}



/* SITE WIDE */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(14, 10, 20);
    font-family: 'Fira Code', monospace;
    font-weight: 400;
}
main {
    background-color: rgb(25, 20, 39);
    padding-bottom: 15px;
    border-radius: 3px;
    height: fit-content;
}

/* content backdrop */
#content_backdrop {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94vw;
    height: 96%;
    margin: 0vh 2vw;
    margin-top: 5vh;
    padding: 1vh 0vh;
    border-radius: 3px;
    background-color: rgb(18, 13, 26);
}


    /* footer */
footer {
    display: flex;
    flex-direction: row;
    margin: 2vh 0vw;
    width: 98vw;
    height: 250px;
    background-color: rgb(25, 20, 39);
    border-radius: 3px;
    color: white;
}

.footer_section {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    width: 18%;
}

footer p {
    margin: .25em;
}

footer .header {
    margin: .7em .25em;
}

#footer_end_section {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    width: 46%;
}

/* General Elements */
a {
    color: rgb(26, 189, 26);
    text-decoration: none;
}

a:visited {
    color: rgb(26, 189, 26);
    text-decoration: none;
}

a:hover {
    color: rgb(26, 189, 26);
    text-decoration: underline;
    text-underline-offset: 3px;
}


.mobile_only {
    display: none !important;
}

/* Mobile Dev */
@media screen and (max-width: 768px) {
    .mobile_only {
        display: block !important;
    }
    .desktop_only {
        display: none;
    }

    #mobile_menu_dropdown {
        display: block;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 1000;
        background-color: rgb(26, 189, 26);
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        height: 50px;
    }
    #mobile_menu_dropdown.inverted {
        background-color: black;
        color: rgb(26, 189, 26);
        border: 3px solid rgb(26, 189, 26)
    }

    #menu_bar {
        align-self: flex-start !important;
        flex-direction: column !important;
        width: 60vw !important;
        height: auto !important;
        padding: 8px 0 !important;
        margin: 0 0 0 0 !important;
    }

    .tab {
        width: 90% !important;
        height: auto !important;
        margin: 6px 0 !important;
        padding: 8px !important;
    }

    .tab_content {
        font-size: 1.2rem !important;
        width: 100% !important;
    }

    #top_spacer {
        display: none !important;
    }
}