body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 17, 34);
}

main {
    background-color: rgb(25, 20, 39);
    padding-bottom: 15px;
    border-radius: 12px;
}

/* CONTENT BACKDROP STYLING */
#content_backdrop {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94vw;
    height: 96%;
    margin: 0vh 2vw;
    margin-top: 5vh;
    padding: 1vh 0vh;
    border-radius: 12px;
    background-color: rgb(21, 16, 31);
}

#top_spacer {
    height: 9vh;
}
/* menubar styling */
#title_bar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 1vw;
    right: 1vw;
    top: 0px;
    justify-content: center;
    flex-direction: row;
    width: 98vw;
    height: calc(4vw + 67);
    margin: 12px auto;
    padding: 2px 0px;
    background-color: rgb(15, 12, 23);
    color: rgb(26, 189, 26);
    border-radius: 12px;
}
.hidden {
    display: none !important;
}
.tab {
    box-sizing: border-box;
    display: flex;
    width: 24%;
    height: 85%;
    justify-content: center;
    align-items: center;
    margin: 7px 0px;
    border: 2px solid rgb(26, 189, 26);
    text-align: center;
}
    /* accounting for doubled up middle tab separators */
#news {
    border-left: 4px solid rgb(26, 189, 26);
}
#comical_dude {
    border-right: 4px solid rgb(26, 189, 26);
}
    /* back to formatting */
.tab_content {
    justify-self: center;
    text-align: center;
    width: 60%;
    font-size: 3vw;
}
.tab:hover {
    background-color: rgb(32, 20, 62)
}
.tab_link {
    color:rgb(26, 189, 26);
    text-decoration: none;
    text-align: center;
}
.tab_link:visited {
    color:rgb(26, 189, 26);
}
.tab_link:hover {
    border-bottom: 2px dashed rgb(104, 5, 251);
    border-radius: 1px;
    color:rgb(18, 182, 18);
}

/* CONTENT_DIV STYLING */
.content_div {
    display: flex;
    flex-direction: column;
    width: 66vw;
    height: 54vh;
    margin: 1vh 3vw;
    padding: 1vh 2vw;
    background-color: rgb(25, 20, 39);
    border: 2px dashed rgb(26, 189, 26);
    border-radius: 12px;
}
.enlarged {
    width: 68vw; 
    height: 74vh;
}
.content_div:hover {
    width: 68vw;
    height: 56vh;
}
.content_div.enlarged:hover {
    width: 68vw; 
    height: 74vh;
}
.content_div h1 {
    color: rgb(255, 255, 255);
}
.content_div p {
    color: rgb(232, 228, 228);
}
/* mouse_tracker */
.mouse_track {
    color:rgb(26, 189, 26);
}

footer {
    margin: 2vh 0vw;
    width: 98vw;
    height: 250px;
    background-color: rgb(25, 20, 39);
    border-radius: 12px;
}