body {
    background-color: rgb(21, 17, 32);
}
.mouse_track {
    padding-left: 50px;
    color:rgb(26, 189, 26);
}

/* menubar styling */
#title_bar {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 95vw;
    height: calc(4vw + 67);
    margin: 12px auto;
    padding: 2px 0px;
    background-color: rgb(15, 12, 23);
    color: rgb(26, 189, 26);
    border-radius: 7px;
}
.hidden {
    display: none !important;
}
.tab {
    box-sizing: border-box;
    width: 24%;
    height: 85%;
    justify-content: center;
    align-items: center;
    margin: 7px 0px;
    border: 1px dashed rgb(26, 189, 26);
    text-align: center;
}
.tab_content {
    font-size: 3vw;
    background-color: crimson;
}
.tab:hover {
    background-color: rgb(38, 31, 54)
}
.tab_link {
    color:rgb(26, 189, 26);
    text-decoration: none;
    text-align: center;
}
.tab_link:visited {
    color:rgb(26, 189, 26);
}
.tab_link:hover {
    border-bottom: 2px dashed rgb(255, 166, 0);
    border-radius: 1px;
    color:rgb(18, 182, 18);
}