@font-face {
    font-family: 'Fira Code';
    src: url('../../fonts/FiraCode-Regular.woff') format('woff');
    src: url('../../fonts/FiraCode-Regular.woff2') format('woff2');
    font-weight: 400;
}
    /* medium font */
@font-face {
    font-family: 'Fira Code';
    src: url('../../fonts/FiraCode-Medium.woff') format('woff');
    src: url('../../fonts/FiraCode-Medium.woff') format('woff2');
    font-weight: 500;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(15, 12, 23);
    font-family: 'Fira Code', monospace;
    font-weight: 400;
}
main {
    padding: 2em;
    display: flex;
    flex-direction: column;
}
h1 {
    padding: 1em;
    color: rgb(26, 189, 26);
    border-bottom: 3px solid rgb(188, 6, 161);
    border-radius: 2px;
}
h2 {
    color: rgb(117, 136, 219);
}
#green {
    color: rgb(26, 189, 26);
}
h3 {
    color: rgb(117, 136, 219);
}
p {
    color: rgb(255, 255, 255);
}
table {
    color: white;
    border: 8px solid rgb(34, 39, 65);
    border-collapse: collapse;
}
th {
    color: rgb(26, 189, 26);
}
th, td {
    padding: 10px;
    border: 3px solid rgb(34, 39, 65);
}
li {
    color: white;
}
.highlighty {
    color: rgb(240, 228, 97);
}
.highlightr {
    color: rgb(220, 80, 80);
}